<a href="https://colab.research.google.com/github/Vitalyastiy/cheat/blob/main/.%D0%A8%D0%BF%D0%BE%D1%80%D0%B0%20%D0%BF%D0%BE%20%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import seaborn as sns
df = sns.load_dataset("titanic")


Импорт библиотек и загрузка и выгрузка данных во фрейм

In [ ]:
from itertools import count
from multiprocessing import cpu_count
import pandas as pd

data2 = pd.read_csv(r"C:\Users\....Desktop\nnn\NN.csv",  sep=',' , encoding='latin-1') #, index_col=0 - индекс 
data_copy[:10].to_csv('saved_ratings.csv', index=False) # экспортироватъ первые десятъ строк
data_copy = data.copy(deep=True) #shallow - поверхностное копирование фрейма 
data.to_csv('02-03_new.csv', header=True, index=False) # экспорт в csv
 
pd.read_csv('file.csv', usecols=['A', 'B']) # - считать только нужные столбцы

Регулирование количества столбцов или строк для отображения

In [ ]:
pd.options.display.max_rows = 30 #Output
pd.options.display.max_columns = 3 #Output
pd.reset_option('display.max_rows') #Скинуть

Подготовка выборки

In [ ]:
data= data.rename(columns={"gkgk": "colu"}) # - переименоватъ столбец
data.rename(columns=dict(sector_name='region', region='locale')) 
data.rename(index={0: 'firstEntry', 1: 'secondEntry'}) # переименовать индекс
data.rename_axis('inde', axis='rows') # переименовать название 

data.sample(5) # data.head(5) # data.tail(5)  # выбор выборки
df.sample(frac = 0.00005) # доля выборки
data.head(3) # - вывести первые 3 записи
data.tail(1) # - вывести последнюю записъ
data[1:4] # - срез. вывести топ значений фрейма 

df.drop_duplicates (subset=['team', 'points']) # удалить дубли в определенных столбцах -- df.drop_duplicates (keep= False ) для полной очистки от дублей

In [29]:
df.nlargest(5, 'fare')

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
258,1,1,female,35.0,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
679,1,1,male,36.0,0,1,512.3292,C,First,man,True,B,Cherbourg,yes,False
737,1,1,male,35.0,0,0,512.3292,C,First,man,True,B,Cherbourg,yes,True
27,0,1,male,19.0,3,2,263.0000,S,First,man,True,C,Southampton,no,False
88,1,1,female,23.0,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False

EDA

In [ ]:
data.head()/.tail() # - первые/последние строки
data.info() # - получение сведений о фрейме 
data.dtypes # типы данных столбцов
data.describe # - статистическая информация о фрейме
data.pole.value_counts() # - подсчет количества уникалных значений
len(data) # - вывести количество строк во фрейме 
data.shape/size # - размерность фрейма
df.dtypes.value_counts() # - получитъ распределение по типам данных
data.isnull().mean() # пропуски во фрейме /df.notnull().mean() - противоположная функция / data.isna().mean() - тоже самое, что isnull
len(data['pole'].unique()) # - количество уникалъных строк во фрейме 
data['pole'].unique() # вывод всех уникальных значений
data.nunique() #  - количество уникальных записей по столбцам или строкам
data.dropna() # - очистить данные таблицу от наловых значений 
data.columns.tolist() # - получитъ наименования столбцов списком
data.nlargest(5, 'pole') #- вернет наибольшее число и Nsmallest() - вернет наименьшее,  nsmallest() и nlargest() - противоположные


data2= data[['pole1', 'pole2']] # - создание нового фрейма из подмножества
df.insert(loc=0'''(позиция)''', column='id', value=new_column) #- вставить столбец в определенное место
replace = data.replace(to_replace = 0 , value -9999) # - заменить значения во фрейме
data.rename({'Pole_old':'Pole_new'}, axis = 1 )
data_filled = data.fillna(0) # - замена всех наловых значений на 0
data.drop(columns = ['pole1', 'pole2']) # - удлить столбцы
data.drop_duplicates(keep = 'first') # - удалить дубликаты

Фильтрация & сотрировка

In [ ]:
df['поле'].isin(['F']) # вернет тру/фолс 
data['pole1'].where(data['pole1']>=25) # проверка структуры данных

## метод фильтрации квери
region = 'Center'
quat = '2022-01-01'
df_tall_named_sec = df_cor.query('Region == @region & Quarter == @quat')
df_tall_named_sec
#########################################################################################

data2.drop(['colu'], axis=1).head() # - удаление столбца из фрейма данных
data2.append(data2.sum(axis=0), ignore_index=True) # - сумма по столбцу
data[data['acell'].isin(['NN002998_I','NN002998_I'])] # -филътр
data[data['acell'] == 'NN002998_I'] #(><) -филътр, для единственного значения

data.sort_values('acell', ascending=True) # - сортировка фрейма 
df.pole.sort_values(ascending = False) # - второй вариант

data['sector_name'].fillna('NaN').value_counts().sort_values(ascending=False) # найти NaN
df_filter = df ['ID']. isin (['A001', 'C022', ...])  # выбор строк с конкретными идентификаторами



m_data = data[data['sector_name'].isnull()] # шаг 1. кол-во нулевых
n_data = len(m_data) #  шаг 2. кол-во нулевых
n_data = data.sector_name.isnull().sum() # v2 кол-во нулевых
m_data = pd.isnull(data.sector_name).sum() # v3 кол-во нулевых

Типы данных

In [ ]:
df['new_month'] = pd.to_datetime(df['new_month']).dt.date # - перевести в дату
data['t2.ne_id'].astype('float') # - изменить тип данных

Объединение

In [ ]:
pd.concat([A, B]) # по умолчанию axis = 0 
pd.concat([A, B], axis=1) # левый к правой
pd.concat([df1, df2], ignore_index=True)  #- union all
pd.concat([X, Y]).drop_duplicates(keep=False) #- union

pd.merge(left=df_a, left_on['A'], right=df_b, right_on=['B'], how='inner') #- merge
sum_df = pd.merge(df1, df2, how='inner', left_on=['t1.region', 't1.acell'], right_on = ['Region','ACELL']) #- merge

Агрегация

In [ ]:
df.groupby('team')['points']. unique () # - группировка и посчет уникальных значений для одного столбца
df.groupby(['pole1'], as_index=False).agg({ "pole2": pd.Series.nunique, "pole3": "count"}) #-группировка и посчет уникальных значений
data.groupby('pole1').count() //mean() // median() // size() # - группировка по полю для всего df 
data.groupby('pole1').pole2.mean() # группировка по одному полю 
data.groupby('t1.acell')['t2.ne_id'].max().sort_index() # присваиваем индекс аселу и выводим макимальное значение из не_ид, сортируем от меньшего 



data.groupby('report_date').report_date.size() #(count-разница?) вывести количество записей, аналог гроуп бай
data_e = data.groupby(['t1.acell']).ne_id.agg([len, min, max]) # группировка с агрегацией и расчетом 
data_e.sort_values(by=['min', 'max'], ascending=True) # сортировка данных

Функции

In [ ]:
df.apply(lambda row: (row['pole1'],  row['pole2']), axis=1) # построчное применение функции

level_map = {1: ‘high’, 2: ‘medium’, 3: ‘low’} # преобразования данных
df[‘c_level’] = df[‘c’].map(level_map) #

Операции над значениями

In [ ]:
df['pole1'].round(2) # округлить 
df['pole1'].nunique() # посчитать уникальнных
df1["pole2"].cumsum() # накопительный итог

Визуализация результатов

In [ ]:
########## Пример1 ###########
df_room = pd.DataFrame(df.groupby('room type')['number of reviews'].mean())
df_room.reset_index(drop=False, inplace=True)
display(df_room)
df_room.plot(x='room type', y='number of reviews', kind='bar')
##############################

In [ ]:

###################   Other...
df = data.append(new_row, ignore_index=True) # добавляет элемент в конец списка
df = data.drop(['t1.macroregion'], axis = 1) # удалить столбец
df_copied = df.copy() # поверхностное и глубокое копирование 
df['vol_new'] = round(df['ut_driver']) # округлить до выделенного значения 

# Перебор строк во фрейме()
for idx,row in df2[:1].iterrows():
    print(idx, row)
#%%

data ['acell'].tolist() # - перевести в список стлбец
data['colu'] = True # - добавитъ столбец во фрейм данных

###кейс с фильтрацией:
data['t1.region'].unique() #  вывести уникальные значения фрейма
data = data.set_index('t1.region') # присвоить индекс
data.drop(['RYAZAN', 'TVER'],axis = 0) # установить фильтрацию по столбцу и дропнуть эти данные во фрейме

loc iloc

In [ ]:
data.iloc[:0]  # вывести шапку 
data.iloc[552] # вывод СПИСОК строки по номеру
data.iloc[552] # вывод строки по индексу
data.iloc[0:5] # вывести первые 5 значений, с 0 до 4  
data.loc[0:5]  # вывести первые 6 значений, с 0 до 5

data.recdate  #data['recdate'] #data.iloc[:,0]#  вывод столбца в формате списка
data.iloc[2,1] # data.loc[2,'ACELL'] вывести 3 строку из 2-ого столбца 
data.iloc[:3,1] #data.iloc[0:3,1]#data.iloc[[0,1,2],1]  вывести количество строк из столбца
data.iloc[-3:,1] #  вывести второе значение снизу, второго столбца
data.iloc[:, 0:2] # вывести всю информацию по двум столбцам  
data.iloc[3, [1, 2, 3]] # список третьей строки по первым 3м столбцам
data.loc[1:5, 'ACELL': 'Region'] # вывод таблицы с первой по пятаю, 2 столбца 

data.iloc[[0]] # вывести первую строку
data.loc[:,['recdate','ACELL','Region','flag']] # print all
data.loc[data.flag.isin(['100', '50'])] # филътр несколъко условий
data.loc[data.flag.isnull()] 
data.loc[data.flag.notnull()]  
data[data['t2.ne_id'].isnull()] # вариация поиска нулевых значений

############## Примеры фильтров выводом фрейма 
data.loc[data['ACELL'] == 'NN000231_A'] # вывести отфильтрованную таблицу
data.loc[data.ACELL == 'NN000231_A'] # то же что и предыдущее
data.loc[data.flag == '0'] # филътр на таблицу с выводом всего датафрейма 

data.loc[(data.flag == '0') & (data.recdate =='2022-02-28 23:00')] # склеенный фильтр на таблицу
data.loc[(data['ACELL'] == 'NN000231_A' ) & (data['recdate'] == '2022-02-20 16:00')\
    , 'recdate':'flag'] # пример склеенного фильтра

###### replace ###### 
data.loc[data['ACELL'] == 'NN000231_A'] = 'BIG'
data.loc[data['ACELL'] == 'NN000231_A', 'ACELL':'Mean_flag_integrity 4G (%)'].head() # пример реплэйса с фильтром и выводом