<a href="https://colab.research.google.com/github/Vitalyastiy/cheat/blob/main/%D0%94%D0%BE%D1%81%D1%82%D0%BE%D0%B5%D0%B2%D1%81%D0%BA%D0%B8%D0%B9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Install the python version
!apt-get install python3.8
# Select the version
!python3.8 setup.py

Reading package lists... Done
Building dependency tree
Reading state information... Done
python3.8 is already the newest version (3.8.10-0ubuntu1~20.04.6).
0 upgraded, 0 newly installed, 0 to remove and 23 not upgraded.
python3.8: can't open file 'setup.py': [Errno 2] No such file or directory

In [2]:
pip install fasttext

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fasttext
  Downloading fasttext-0.9.2.tar.gz (68 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 68.8/68.8 KB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting pybind11>=2.2
  Using cached pybind11-2.10.3-py3-none-any.whl (222 kB)
Requirement already satisfied: setuptools>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from fasttext) (57.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from fasttext) (1.21.6)
Building wheels for collected packages: fasttext
  Building wheel for fasttext (setup.py) ... done
  Created wheel for fasttext: filename=fasttext-0.9.2-cp38-cp38-linux_x86_64.whl size=4398668 sha256=8c90a05a1ffdce32a42b7544939571836a8229552ff3699f23804284aaf84f75
  Stored in directory: /root/.cache/pip/wheels/93/61/2a/c54711a91c418ba06ba195b1d78ff24fcaad8592f2a694ac94
Successfully built fasttext
Installing collected packages: pybind11, fasttext
Successfully installed fasttext-0.9.2 pybind11-2.10.3

In [3]:
pip install dostoevsky

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dostoevsky
  Downloading dostoevsky-0.6.0-py2.py3-none-any.whl (8.5 kB)
Collecting razdel==0.5.0
  Downloading razdel-0.5.0-py3-none-any.whl (21 kB)
Requirement already satisfied: fasttext==0.9.2 in /usr/local/lib/python3.8/dist-packages (from dostoevsky) (0.9.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from fasttext==0.9.2->dostoevsky) (1.21.6)
Requirement already satisfied: setuptools>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from fasttext==0.9.2->dostoevsky) (57.4.0)
Requirement already satisfied: pybind11>=2.2 in /usr/local/lib/python3.8/dist-packages (from fasttext==0.9.2->dostoevsky) (2.10.3)
Installing collected packages: razdel, dostoevsky
Successfully installed dostoevsky-0.6.0 razdel-0.5.0

In [4]:
!python -m dostoevsky download fasttext-social-network-model

In [5]:
from dostoevsky.tokenization import RegexTokenizer
from dostoevsky.models import FastTextSocialNetworkModel

from google.auth import default
from google.colab import auth, drive
import gspread

import pandas as pd

In [7]:
df = pd.read_excel('test.xlsx')
df= df.dropna()
df.head()

   create_date                                             mark_6  nps  ltr
0   2022-12-23                                                  3    0    7
5   2023-01-11                     г.Черноголовка, ул.Первая,д.25    0    8
6   2022-12-02                                                 10    1   10
14  2022-12-19  У меня тариф вообще дорогой но не хватает мега...    0    7
17  2022-12-16                                          мариуполь    1   10

In [8]:
tokenizer = RegexTokenizer()
model = FastTextSocialNetworkModel(tokenizer=tokenizer)
messages = df['mark_6']
results = model.predict(messages, k=2)
df['polarity'] = results
df.head()

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

,create_date,mark_6,nps,ltr,polarity
0,2022-12-23,3,0,7,"{'neutral': 1.0000100135803223, 'negative': 1...."
5,2023-01-11,"г.Черноголовка, ул.Первая,д.25",0,8,"{'neutral': 0.9890230894088745, 'skip': 0.0474..."
6,2022-12-02,10,1,10,"{'neutral': 1.0000100135803223, 'negative': 1...."
14,2022-12-19,У меня тариф вообще дорогой но не хватает мега...,0,7,"{'skip': 0.3998216390609741, 'negative': 0.262..."
17,2022-12-16,мариуполь,1,10,"{'neutral': 0.9850529432296753, 'skip': 0.0216..."

In [9]:
pd.concat([df, df['polarity'].apply(pd.Series)], axis=1).drop('polarity',axis=1)

,create_date,mark_6,nps,ltr,neutral,negative,skip,positive,speech
0,2022-12-23,3,0,7,1.000010,0.000010,NaN,NaN,NaN
5,2023-01-11,"г.Черноголовка, ул.Первая,д.25",0,8,0.989023,NaN,0.047436,NaN,NaN
6,2022-12-02,10,1,10,1.000010,0.000010,NaN,NaN,NaN
14,2022-12-19,У меня тариф вообще дорогой но не хватает мега...,0,7,NaN,0.262852,0.399822,NaN,NaN
17,2022-12-16,мариуполь,1,10,0.985053,NaN,0.021625,NaN,NaN
...,...,...,...,...,...,...,...,...,...
18621,2022-12-02,3,1,10,1.000010,0.000010,NaN,NaN,NaN
18625,2023-01-18,Нагинский район посёлок Воровского,-1,1,0.980291,NaN,0.030225,NaN,NaN
18636,2022-12-12,10,1,10,1.000010,0.000010,NaN,NaN,NaN
18641,2022-12-05,5 пригородные электропоезда,1,10,0.320831,0.156115,NaN,NaN,NaN
18644,2022-12-30,Нет,1,10,1.000010,0.003085,NaN,NaN,NaN

In [15]:
df.to_excel("output.xlsx")

In [ ]:
from dostoevsky.tokenization import RegexTokenizer
from dostoevsky.models import FastTextSocialNetworkModel

tokenizer = RegexTokenizer()
model = FastTextSocialNetworkModel(tokenizer=tokenizer)

messages = [
    'Сегодня хорошая погода',
    'Я счастлив проводить с тобою время',
    'Мне нравится эта музыкальная композиция',
    'В больнице была ужасная очередь',
    'Сосед с верхнего этажа мешает спать',
    'Маленькая девочка потерялась в торговом центре',
]

results = model.predict(messages, k=2)
for message, sentiment in zip(messages, results):
    print(message, '-&gt;', sentiment)