https://datastart.ru/blog/read/10-priemov-python-pandas-kotorye-sdelayut-vashu-rabotu-bolee-effektivnoy

In [ ]:
# подключим библиотеки
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import warnings
warnings.filterwarnings("ignore")
plt.style.use("ggplot")

In [25]:
df = sns.load_dataset("iris" ) # nrows = 5

In [8]:
df.dtypes.value_counts()

float64    4
object     1
dtype: int64

In [ ]:
df.select_dtypes(include=['float64', 'int64']) #субфрейм только с числовыми характеристиками

In [10]:
df2 = df.copy ()

In [13]:
#определяете словарь, в котором «ключами» являются старые значения, а «значениями» являются новые значения
level_map = {1: 'high', 2: 'medium', 3: 'low'}
df['c_level'] = df['petal_width'].map(level_map)
df

{1: 'high', 2: 'medium', 3: 'low'}

In [18]:
#создать новый столбец с несколькими другими столбцами в качестве входных данных
def rule(x, y):
    if x == 'high' and y > 10:
         return 1
    else:
         return 0

df = pd.DataFrame({ 'c1':[ 'high' ,'high', 'low', 'low'], 'c2': [0, 23, 17, 4]})
df['new'] = df.apply(lambda x: rule(x['c1'], x['c2']), axis =  1)
df.head()

     c1  c2  new
0  high   0    0
1  high  23    1
2   low  17    0
3   low   4    0

In [21]:
#max
df['maximum'] = df.apply(lambda x: max(x['c2'], x['new']), axis = 1)
#df['maximum'] = df[['new','c2']].max(axis =1)

In [ ]:
#df['petal_width'].value_counts(normalize = True)#проверить частоту вместо подсчетов
#df['petal_width'].value_counts(dropna = False)#включить пропущенные значения в статистику
#df['petal_width'].value_counts(sort = False)#показать статистику, отсортированную по значениям, а не по количеству.
df['petal_width'].value_counts().reset_index()# преобразовать таблицу статистики в датафрейм Pandas

In [39]:
import pandas as pd
import numpy as np

df = pd.DataFrame({ 'id': [1,2,3], 'c1':[0,0,np.nan], 'c2': [np.nan,1,1]})
df = df[['id', 'c1', 'c2']]
df['num_nulls'] = df[['c1', 'c2']].isnull().sum(axis=1) #количество пропущенных значений
df.head()

   id   c1   c2  num_nulls
0   1  0.0  NaN          1
1   2  0.0  1.0          0
2   3  NaN  1.0          1

In [ ]:
df_filter = df ['ID']. isin (['A001', 'C022', ...])  #выбрать строки с конкретными идентификаторами
df [df_filter]

In [43]:
#разбить на персентили
import numpy as np
cut_points = [np.percentile(df['c1'], i) for i in [50, 80, 95]]
df['group'] = 1
for i in range(3):
    df['group'] = df['group'] + (df['c1'] < cut_points[i])
# or <= cut_points[i]

In [ ]:
df