### Вводная часть

In [ ]:
table

id1   id2
null  1
2     2
5     null
null  null
2     3

In [ ]:
Найти:

 select ... from table

 min(id1) =
 max(id1) =
 sum(id1) =
 sum(id1+id2) =
 avg(id1) =

 count(*) =
 count(1) =
 count(id1) =
 count('id1') =
 count(distinct id1) =

1. Назовите все способы, чтобы вернуть только уникальные данные из таблицы?

In [ ]:
SELECT COUNT(DISTINCT Name)
FROM "USERS"

table name: USERS

|Name|
______
|Дима|
|Даша|
|null|
|Дима|

2. Как с помощью SQL посчитать время между каждым статусом сделки?

In [ ]:
SBR_ID	                            STATUS	                                          TIMESTAMP 1
192e83b447586a2f2246b2ee6b92e8ce	Зарегистрирована	                            13.01.2022 13:00
192e83b447586a2f2246b2ee6b92e8ce	Передана кц	                                  13.01.2022 13:07
192e83b447586a2f2246b2ee6b92e8ce	Ожидание отправки СБР покупателю	            13.01.2022 13:08
192e83b447586a2f2246b2ee6b92e8ce	Сделка расторгнута	                          13.01.2022 13:09
192e83b447586a2f2246b2ee6b92e8ce	Черновик	                                    13.01.2022 13:12
192e83b447586a2f2246b2ee6b92e8ce	Подготовка	                                  13.01.2022 13:12
192e83b447586a2f2246b2ee6b92e8ce	Формирование черновика договора	              13.01.2022 13:16
192e83b447586a2f2246b2ee6b92e8ce	Ожидание связанных сделок	                    13.01.2022 13:18
192e83b447586a2f2246b2ee6b92e8ce	Ожидание проверки регистрации	                13.01.2022 13:20
192e83b447586a2f2246b2ee6b92e8ce	Ожидание оплаты	                              13.01.2022 13:21
192e83b447586a2f2246b2ee6b92e8ce	Формирование договора                       	13.01.2022 13:21
192e83b447586a2f2246b2ee6b92e8ce	Ожидание результата регистрации             	13.01.2022 13:23
192e83b447586a2f2246b2ee6b92e8ce	Ожидание разблокировки эскроу-счета         	13.01.2022 13:24
192e83b447586a2f2246b2ee6b92e8ce	Контроль реквизитов платежа	                  13.01.2022 13:24
192e83b447586a2f2246b2ee6b92e8ce	Ожидание исполнения платежа	                  13.01.2022 13:35
192e83b447586a2f2246b2ee6b92e8ce	Завершена	                                    13.01.2022 13:37

### Блок 1

**Таблица employees, содержит информацию о сотрудниках:**

In [ ]:
id	name	    city	department	salary
1	  Дарья	    Рязань	hr	        70
2	  Борис	    Рязань	hr	        78
21	Елена	    Рязань	it	        84
22	Ксения	  Москва	it	        90
23	Леонид	  Рязань	it	        104
24	Марина	  Москва	it	        104
25	Иван	    Москва	it	        120
41	Вероника	Москва	sales	      96
52	Григорий	Рязань	sales	      96
53	Анна	    Москва	sales	      100

1. Задача 1. Необходимо вывести общие затраты компании на зарплату сотрудникам **нарастающим итогом** для каждого отдела. Проанализировать полученный результат.

2. Задача 2. Необходимо посчитать для каждого сотрудника зарплату предыдущего и следующего коллеги. Принимаем за факт, что текущая сортировка является актуальной.

### Блок 2

In [1]:
#синтетический df
#запустить!

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('dark_background')
import seaborn as sns

n = 500  # количество записей
dates = pd.date_range(start='2023-01-01', periods=n, freq='D')
user_ids = np.random.randint(1, 100, n)
action_types = np.random.choice(['click', 'purchase', 'login'], n)
client_platforms = np.random.choice(['iOS', 'Android', 'Web'], n)

# Создание DataFrame
data = {
    'time': dates,
    'user_id': user_ids,
    'action_type': action_types,
    'client_platform': client_platforms
}
df = pd.DataFrame(data)

# Вывод первых 5 строк данных
df.head()

        time  user_id action_type client_platform
0 2023-01-01       72       click             Web
1 2023-01-02       59       click         Android
2 2023-01-03       55    purchase             iOS
3 2023-01-04       96       login         Android
4 2023-01-05       60    purchase         Android

1. Вывести количество уникальных пользователей, которые использовали платформу IOS в 2023 году

2. Необходио визуализировать временной ряд, который отражает кол-во уникальных пользоватлей по каждому событию за каждый месяц, вне зависимости от платформы